{
  "parser": "@typescript-eslint/parser",

  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],

  "plugins": [
    "unicorn"
  ],

  "globals": {
    "__DEV__": "readonly"
  },

  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },

  "settings": {
    "import/ignore": ["react-native"]
  },

  "rules": {
    "unicorn/prefer-module": [2],
    "unicorn/prefer-node-protocol": [2],

    "no-console": [0],
    "no-param-reassign": [0],
    "no-else-return": [0],
    "no-confusing-arrow": [0],
    "no-prototype-builtins": [0],

    "prettier/prettier": [2],

    "import/named": [0],
    "import/first": [0],
    "import/prefer-default-export": [0],
    "import/no-extraneous-dependencies": [0],
    "import/no-named-as-default": [0],
    "import/no-unresolved": [0],

    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/no-var-requires": [0],
    "@typescript-eslint/no-empty-function": [0],
    "@typescript-eslint/no-empty-interface": [0],
    "@typescript-eslint/explicit-module-boundary-types": [0]
  }
}
